body{
    background-color: antiquewhite;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 98%;
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgb(233, 221, 205);
    
}
.HAC{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul{

}
.logo{
    justify-content: center;
    margin-top: 5px;
   
}
img{
    height: 40px;
}

.credentials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.container{
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    width: 98%;
    margin-left: 20px;
    
    margin-top: 20px;
    height: 250px;
    flex-wrap: wrap;
    
}

.c{
    width: 300px;
    height: 200px;
    font-size: 50px;
    text-align: center;
    align-content: space-evenly;
    margin-top: 20px;
    background-image: url(courses.png);
    
    
}
.c1{
    background-color: aquamarine;
  
}
.c2{
    background-color: rgb(40, 66, 57);
}
.c3{
    background-color: rgb(118, 228, 164);
}
.c4{
    background-color: rgb(189, 156, 68);
}
.pic{
    border: 2px solid black;
    width: 98%;
    height: 500px;
    margin-left: 20px;
    margin-top: 30px;
    background-image: url(piccc.png);
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    border-radius: 20px;
    width: 120px;
    height: 40px;
    border-color: antiquewhite;
    background-color: beige;
    text-align: center;
    font-size: large;
    color: cadetblue;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}