body{
    display: flex;
}

.headerbdy{
    padding: 5px;
    display: flex;

}
.date{
    color: white;
    width: 80%;
}
.display{
    border: none;
    margin: 10px 10px 10px 5px;
}
#num{
    height: 40px;
    width: 168px;
    background-color: black;
    color: white;
    border: none;
    text-align: right;
    
    
}
.container{
    border:none;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    height: 320px;
    width: 180px;
    background-color: black;
    
    
}
.buttonss{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    

}

.btn1,.btn2,.btn3,.btn4,.btn5{
    margin-top: 10px;
    justify-content: space-evenly;
    align-content: space-evenly;
}

button{
    border: 1px solid black;
    border-radius: 100px;
    height: 32px;
    width: 32px;
    padding: px;
    color: white;
    border: none;
    cursor: pointer;
}

.row2,.row3,.row4,.row5{
    background-color: #333333;
}
.op{
    background-color: orange;
}
.row1{
    background-color: #A5A5A5;
}









