.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "head head head"
                         "content content content"
                         "content content content"
                         "foot foot foot";
}



.head{
    grid-area: head; /*used for naming the grid*/

    /* background-color: aquamarine;
    border: 2px solid black; */
}
.content{
    grid-area: content; /*used for naming the grid*/
    /* background-color: bisque;
    border: 2px solid red; */
    flex-wrap: wrap;
}
.foot{
    grid-area: foot; /*used for naming the grid*/
    /* background-color:rgb(29, 65, 53) ; */
    
}
body{
    background-color: antiquewhite;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 98%;
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgb(233, 221, 205);
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.HAC{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo{
    justify-content: center;
    margin-top: 5px;
   
}
img{
    height: 40px;
}

.credentials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.contain{
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    width: 98%;
    margin-left: 10px;
    
    margin-top: 10px;
    height: 250px;
    flex-wrap: wrap;
    
}

.c{
    width: 300px;
    height: 200px;
    font-size: 50px;
    text-align: center;
    align-content: space-evenly;
    margin-top: 10px;
    background-image: url(courses.png);
    
    
}
.c1{
    background-color: aquamarine;
  
}
.c2{
    background-color: rgb(40, 66, 57);
}
.c3{
    background-color: rgb(118, 228, 164);
}

.pic{
    border: 2px solid black;
    width: 98%;
    height: 500px;
    margin-left: 20px;
    margin-top: 30px;
    background-image: url(piccc.png);
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    border-radius: 20px;
    width: 120px;
    height: 40px;
    border-color: antiquewhite;
    background-color: beige;
    text-align: center;
    font-size: large;
    color: cadetblue;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

.ft{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 98%;
        margin-left: 20px;
        border-radius: 10px;
        background-color: rgb(233, 221, 205);
        margin-top: 150px;
        
}




